
gris= #E8E8E8
grisOscuro=#444
gris_texto=#7A7A7A
azul=#22BCE0
naranja = #DD4F24

a
	color naranja

body
	background gris
	color grisOscuro
	font-family Arial
	font-size 16px

header
	background grisOscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	overflow hidden
	padding 0.5em
	position relative		
	z-index 1
	
	
	.logo 
		border-right 1px solid azul
		float left 
		width 60px
		
		img
			width 55px
			
	.titular
		margin 0 60px 0 70px
		
		.filtro
			color azul
			font-size 14px
			font-weight bold
			font-style italic
			text-decoration none
			
		.publicar
			background naranja
			color white
			float right
			font-style italic
			margin -5px 1em 0 0
			padding 0.2em 0.5em
			text-decoration none
			text-shadow 1px 1px 0px black
			
		
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0
			
	.usuario
		position absolute
		top 10px
		right 10px
		.avatar
			margin 0 1em 0 0
			position relative
			z-index 2 
			img
				width 50px
				border-radius 50%
		
		.flechita
			background naranja
			color white
			display block
			padding 3px
			position absolute
			right 0
			text-align right
			top 15px
			width 50%
			z-index 0
			
			

				
				
nav
	background azul
	border-left 15px solid white
	position relative
	
	&:before
		border-bottom 20px solid transparent
		border-left 7px solid white
		border-top 20px solid transparent
		content ""
		position absolute
		top 0
		left 0
		
	
	.menu
		height 40px
		line-height 40px
		margin 0
		padding 0
		overflow-x auto
		white-space nowrap
		
		li
			display inline-block
			
			a
				color white
				display block
				margin 0 0.5em
				padding 0.2em
				text-decoration none
					
.posts
	padding 0.5em
	
	.post 
		background white
		border-radius 0 0 0.5em 0.5em
		box-shadow 2px 2px 10px rgba(black, 0.5) 
		color gris_texto
		
		
		
		.acciones
			border-top 3px solid azul
			padding 0.5em
			
		.descripcion
			color gris_texto
			
			.detalles
				height 160px
				margin-left 130px
			
			.titulo
				color grisOscuro
				font-size 18px
				font-style italic
				margin 0
				padding 0.5em 0.5em 0 0 
			.imagen
				float left
				margin 0
					
				img
					height 160px
					vertical-align top
					width 120px
					
					
					 	
		
