
gris= #E8E8E8
grisOscuro=#444
azul=#22BCE0

body
	background gris
	color grisOscuro
	font-family Arial
	font-size 16px

header
	background grisOscuro
	color white
	padding 0.5em
	position relative
	
	.logo 
		border-right 1px solid azul
		float left 
		width 60px
		
		img
			width 60px
			
	.titular
		margin 10px 80px 10px 70px
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0
			
	.usuario
		position absolute
		top 0
		right 0
		.avatar
			img
				width 50px
				border-radius 50%
	
				
				
nav
	background azul
	
